div{
    background-color: antiquewhite;
    padding: 100px;
    margin: 50px;
    color: chocolate;
    font-family: 'Times New Roman', Times, serif;
    border:2px solid;
    border-radius: 20px;
    align-items: center;
    text-align: center;
   color: crimson;
    text-align: justify;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    text-align: center;
    color: brown;
    background-color: rgb(243, 239, 233);
    margin: 50px;
    border: solid 2px;
    border-radius:20px;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    padding: 2px;
}
button{
    background-color: rgb(224, 149, 149);
    color: rgb(255, 255, 255);
    padding: 2px 4px;
    border: color(srgb-linear red green blue) solid 2px;
    border-radius: 3px;
    cursor: pointer;

}
.my-button:active {
    background-color: rgb(163, 36, 36);
    color: rgb(241, 182, 182);
}
